.navbar-brand {
  float: left;
}
html {
  scroll-behavior: smooth;
}
.navbar-nav {
  float: right;
}

body {
  margin: 0;
}

/* user view */
* {
  color: #132238;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  font-size: 0;
  clear: both;
}

.header {
  background-color: #98ccd3;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #132238;
}

.logo {
  float: left;
  width: 11%;
  margin-left: 50px;
}

.logo a img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.back {
  position: relative;
  text-decoration: none;
  text-align: center;
  color: #132238;
  font-size: 20px;
  margin-left: 30px;
  top: 40px;
}

.back img {
  width: 1.1%;
}

.back:hover {
  color: #132238;
}

.nav {
  float: right;
  padding-right: 40px;
}

.nav li {
  display: inline-block;
  padding: 40px 10px;
}

.nav a {
  text-decoration: none;
  padding: 2px 15px;
  font-size: 20px;
}

.nav-inner{
  float: right;
  padding-right: 40px;
}

.nav-inner li {
  display: inline-block;
  padding: 40px 10px;
}

.nav-inner a {
  text-decoration: none;
  padding: 2px 15px;
  font-size: 20px;
}

.active {
  background-color: #364e68;
  border-radius: 5px;
  color: #ebf0f6 !important;
}

.active a {
  color: #ebf0f6;
}

a:hover {
  color: #ebf0f6;
}

#sctop {
  width: 50px;
  border-radius: 5px;
  border: none;
  position: fixed;
  bottom: 100px;
  right: 60px;

}

.arrow-img {
  width: 100%;
}

.footer {
  background-color: #364e68;
}

.address {
  padding-bottom: 30px;
}

.office {
  float: left;
  margin: 20px 0 0 60px;
  width: 30%;
}

.partner {
  float: left;
  width: 28%;
  margin: 20px 0 0 70px;
}

.contact {
  float: right;
  width: 27%;
  margin: 20px 0 0 30px;
}

.office-title,
.partner-title,
.contact-title {
  font-size: 25px;
  padding-bottom: 20px;
  color: #98ccd3;
}

.office li,
.partner li,
.contact li {
  padding-top: 15px;
  font-size: 18px;
  color: #ebf0f6;
}

.copyright {
  border-top: 1px solid #132238;
  padding-bottom: 20px;
  padding-top: 10px;
}

.copyright p {
  text-align: center;
  color: #ebf0f6;
}
/*for tablets*/

@media screen and (min-width:640px) and (max-width:1040px){
  .container{
    width:98%;
  }
  .header{
    padding-top: 2.5%;
  }
  .logo{
    width: 15%;
    margin-left: 8%;
  }
 .nav-inner li{
  padding: 5% 8px;
 }
  .nav-inner a{
   font-size: 16px;
   padding: 2px 10px;
  }
  #sctop {
    width: 6%;
    border-radius: 5px;
    border: none;
    position: fixed;
    bottom: 10%;
    right: 10%;
  }
  .office{
    margin: 2% 0 0 4%;
  }
 .partner{
   margin: 2% 0 0 6%;
 }
 .contact{
   margin: 2% 0 0 0;
 }
  .office-title,.partner-title,.contact-title{
    font-size: 1.1rem;
  }
  .office li,.partner li,.contact li{
    font-size: 0.9rem;
  }
  .copyright{
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 0.8rem;
  }
}
/*for sp*/
@media screen and (max-width:640px){
  .container{
    width: 98%;
  }
  .header{
    padding-top: 2%;
    padding-bottom: 1%;
  }
  .logo{
    width: 16%;
  }
  /*.nav{
  display: none;
  }*/
 .menu-btn{
   display: block;
   position: absolute;
   z-index: 3;
   right: 4.5%;
   width: 7.938vw;
   height: 6.063vw;
   text-align: center;
 }
.menu-btn span{
  display: block;
  position: absolute;
  width: 5.938vw;
  height: 0.313vw;
  background-color: #000000;
}
.menu-btn span:nth-child(1) {
  top: 1.563vw;
}

.menu-btn span:nth-child(2) {
  top: 3.125vw;
}

.menu-btn span:nth-child(3) {
  top: 4.688vw;
}
.menu-btn.active span:nth-child(1) {
  top: 2.500vw;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-btn.active span:nth-child(2),
.menu-btn.active span:nth-child(3) {
  top: 2.500vw;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-inner{
 width: 100%;
 background: rgba(0, 0, 0, 0.8);
 float: none;
}
.nav-inner li{
  width: 100%;
  text-align: center;
}
.nav-inner a{
color: #ebf0f6;
padding:0 50%;
border-radius: 0;
}
  
}