.navbar-brand {
  float: left;
}
html {
  scroll-behavior: smooth;
}
.navbar-nav {
  float: right;
}

body {
  margin: 0;
}

/* user view */
* {
  color: #132238;
}
.pc{
  display: block;
}
.sp{
  display: none;
}
.container {
  width: 1280px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  font-size: 0;
  clear: both;
}

.header {
  background-color: #98ccd3;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #132238;
}

.logo {
  float: left;
  width: 11%;
  margin-left: 20px;
}

.logoimg {
  width: 100%;
  border-radius: 50%;
}

.back {
  position: relative;
  text-decoration: none;
  text-align: center;
  color: #132238;
  font-size: 20px;
  margin-left: 30px;
  top: 27px;
}

.back img {
  width: 1.1%;
}

.back:hover {
  color: #132238;
}

.nav-inner {
  float: right;
  padding-right: 15px;
}

.nav-inner li {
  display: inline-block;
  padding: 25px 10px 47px 0;
}

.nav-inner a {
  text-decoration: none;
  padding: 2px 15px;
  font-size: 20px;
}

.active {
  background-color: #364e68;
  border-radius: 5px;
  color: #ebf0f6 !important;
}

.active a {
  color: #ebf0f6;
}

a:hover {
  color: #ebf0f6;
}

#sctop {
  width: 50px;
  border-radius: 5px;
  border: none;
  position: fixed;
  bottom: 100px;
  right: 60px;

}

.arrow-img {
  width: 100%;
}

.footer {
  background-color: #364e68;
}

.address {
  padding-bottom: 30px;
}

.office {
  float: left;
  margin: 20px 0 0 60px;
  width: 30%;
}

.partner {
  float: left;
  width: 28%;
  margin: 20px 0 0 70px;
}

.contact {
  float: right;
  width: 27%;
  margin: 20px 0 0 30px;
}

.office-title,
.partner-title,
.contact-title {
  font-size: 25px;
  padding-bottom: 20px;
  color: #98ccd3;
  margin-left: 10px;
}

.office li,
.partner li,
.contact li {
  padding-top: 15px;
  font-size: 18px;
  color: #ebf0f6;
}

.copyright {
  border-top: 1px solid #132238;
  padding-bottom: 20px;
  padding-top: 10px;
}

.copyright p {
  text-align: center;
  color: #ebf0f6;
}

@media screen  and (min-width:1041px) and (max-width:1280px){
  .container{
    width: 98%;
  }
  
}
/*for tablets*/

@media screen and (min-width:640px) and (max-width:1040px){
  .container{
    width:97%;
  }
  .header{
    padding-top: 2.5%;
  }
  .logo{
    width: 15%;
    margin-left: 2%;
  }
  .back{
    font-size: .9rem;
  }
 .nav-inner li{
  padding: 6% 8px;
 }
  .nav-inner a{
   font-size: 16px;
   padding: 2px 10px;
  }
  #sctop {
    width: 6%;
    border-radius: 5px;
    border: none;
    position: fixed;
    bottom: 10%;
    right: 10%;
  }
  .office{
    margin: 2% 0 0 4%;
  }
 .partner{
   margin: 2% 0 0 6%;
 }
 .contact{
   margin: 2% 0 0 0;
 }
  .office-title,.partner-title,.contact-title{
    font-size: 1.08rem;
  }
  .office li,.partner li,.contact li{
    font-size: 0.9rem;
  }
  .copyright{
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 0.8rem;
  }
}
/*for sp*/
@media screen and (max-width:640px){
  .container{
    width: 97%;
  }
  .sp{
    display: block;
  }
  .pc{
    display: none;
  }
  .header{
    padding-top: 0;
    padding-bottom: 1%;
  }
  .logo{
    width: 40%;
  }
  .logoimg{
    border-radius: unset;
  }
  .back{
    width: 20%;
    font-size: .7rem;
    margin-left: 0;
    top: 7%;
  }

.menu-btn {
  display: block;
  position: absolute;
  z-index: 3;
  right: 6%;
  top: 5%;
  transform: translateY(-50%);
  width: 7.938vw;
  height: 6.063vw;
  cursor: pointer;
  text-align: center;
}

.menu-btn span {
  display: block;
  position: absolute;
  width: 5.938vw;
  height: 0.313vw;
  left: 6px;
  background: #000000;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu-btn span:nth-child(1) {
  top: 1.563vw;
}

.menu-btn span:nth-child(2) {
  top: 3.125vw;
}

.menu-btn span:nth-child(3) {
  top: 4.688vw;
}

.nav-bar {
  position: fixed;
  z-index: 2;
  top: 73px;
  right: 0;
  text-align: center;
  transform: translateX(100%);
  transition: all 0.6s;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.nav-bar ul li {
  width: 100%;
  padding: 20px 0;
}

.nav-bar.active1{
  transform: translateX(0%);
}
.menu-btn.active1 span:nth-child(1) {
  top: 2.500vw;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-btn.active1 span:nth-child(2),
.menu-btn.active1 span:nth-child(3) {
  top: 2.500vw;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-bar ul {
  background: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding: 3.906vw 0 6.875vw;
}

.nav-bar ul li {
  width: 100%;
  padding: 3.438vw 0;
  margin-left: 0;
}

.nav-inner li a {
  font-size: 2.808vw;
  color: #ffffff;
  padding: 0 45%;
}
.active{
  border-radius: unset;
}
.arrow-img{
  display: none;
}
.address{
  padding-top: 3vw;
  padding-bottom: 2vw;
}
.ad-ttl1,.ad-ttl2,.ad-ttl3{
  width: 30%;
  background-color: #ebf0f6;
  padding: 1vw 2vw;
  border: none;
  font-size: .6rem;
}
.office,.partner,.contact{
  background-color:#98ccd3 ;
  width: 100%;
  margin:1vw 0 0;
  display: none;
}
.office li, .partner li,.contact li{
  font-size: 0.9rem;
  padding:2vw 0 2% 1%;
  color: #132238;
}
.ad-ttl1:hover,.ad-ttl2:hover,.ad-ttl3:hover{
  background-color: #132238;
  border: 1px solid ;
  color: #ebf0f6;
}
#ttl1 {
  display: block;
}
#ttl2, #ttl3 {
  display: none;
}
.copyright{
  padding-bottom: 2vw;
}
.copyright p{
  font-size: .7rem;
}
}