@charset "utf-8";
@font-face {
	font-family: Georgia;
	src: url("https://fonts.googleapis.com/css?family=Georgia");
	font-weight: normal;
}
body {
    /* max-width: 1280px; */
	margin: 0 auto;
    font-family: Georgia;
    background-color: #98ccd3;
}
.clearfix:after {
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
	font-size: 0;
}
.header {
    margin-left: 100px;
    padding: 5px;
    border-bottom: 1px solid #1a2b46;
}
.logo {
    float: left;
    padding: 0.5rem;
    margin-right: 1rem;
}
.logo img {
    border-radius: 50%;
    height: 60px;
}
.logout {
    padding-top: 20px;
    float: right;
}
.logout ul li {
    display: inline-block;
    background-color: #1a2b46;
    list-style: none;
    color: #ebf0f6;
    padding: 5px;
    margin: 0 5px;
    border-radius: 0.5rem;
}
.nav-ttl {
    text-decoration: none;
    color: #ebf0f6;
    font-size: 15px;
}
.logout ul li:hover {
    background-color: #ebf0f6;
    color: #1a2b46;
}
.logout ul li:hover .nav-ttl{
    color: #1a2b46;
}
.header, 
.body {
    background-color: #98ccd3;
    width: 1280px;
    margin: auto;
}
.wrap {
    margin-right: 2rem;
    margin-left: 5rem;
}
.content {
    padding: 20px 0;
}
.card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #98ccd3;
    background-clip: border-box;
    border: 1px solid #132238;
    border-radius: 0.25rem;
}
.card-header {
    color: #ebf068;
    font-size: 20px;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #1a2b46;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-body {
    padding-top: 20px;
}
.btn-primary {
    color: #ebf068;
    background-color: #1a2b46;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    margin: 1rem 0.25rem;
}
.table {
    width: 100%;
    margin: 5px auto;
    color: #ebf068;
    background-color: #1a2b46;
    border-spacing: 0;
    clear: both;
}
.table thead th {
    font-size: 16px;
    font-weight: normal;
}
.table th,
.table td {
    font-size: 15px;
    padding: 0.75rem;
    vertical-align: center;
    border-top: 1px solid #dee2e6;
}
.tbody {
    border-bottom: 1px solid #1a2b46;
}
.tbody tr,
.tbody td {
    color: #1a2b46;
    background-color: #98ccd3;
}
.modal {
    position: fixed;
    top: 50px;
    display: none;
    z-index: 1500;
    width: 70vw;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}
.modal-content {
    position: relative;
    background-color: #98ccd3;
    border: 1px solid #132238;
    border-radius: 0.3rem;
    outline: 0;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #132238;
}
.modal-title {
    font-size: 20px;
    font-weight: bold;
}
.modal-body {
    position: relative;
    padding: 1rem;
}
.modal-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #132238;
}
.close {
    float: right;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1;
    color: #132238;
}
.info {
    margin-right: -12px;
    margin-left: -12px;
    padding: 5px;
}
.h-info {
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    font-weight: bold;
}
.information {
    display: flex;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    font-style:italic;
}
.btn-secondary {
    color: #ebf068;
    background-color: #132238;
}
.btn-secondary :hover {
    background-color: #98ccd3;
    color: #1a2b46;
}
.del-btn {
    background-color: rgb(155, 50, 71);
}
.upd-btn {
    background-color: rgb(39, 114, 55);
    color: #1a2b46;
}
.add-form {
    margin: 0 auto;
    text-align: center;
}
.from-group {
    margin: 5px;
    font-size: 15px;
}
.input-ttl {
    color: #1a2b46;
    font-size: 16px;
}
.select-box {
    background-color: #1a2b46;
    color: #ebf068;
    font-size: 15px;
    border: 1px solid #1a2b46;
    border-radius: 1rem;
    padding: 5px;
}
.input-txt,
.input-img {
    width: 300px !important;
    font-size: 15px;
    padding: 7px;
    text-align: left;
    background-color: #1a2b46;
    color: #ebf068;
    /* border: 1px solid #1a2b46; */
    border-radius: 1rem;
}
.input-img {
    padding: 5px;
}
.preview-image {
    width: 50%;
}
.input-box {
    padding: 0;
    margin: 10px 0;
}
.add-btn {
    background-color: #1a2b46;
    color: #ebf068;
}
.check-btn {
    background-color: #ebf068;
    color: #1a2b46;
}
.copy-txt {
    font-size: 15px;
    padding: 7px;
    text-align: left;
    background-color: #1a2b46;
    color: #ebf068;
    border-radius: 1rem;
}
.copy-btn,
.search-btn {
    background-color: #ebf068;
    color: #1a2b46;
    padding: 5px 10px;
    margin-top: 5px;
    margin-left: 10px;
}
.t-head {
    text-align: left;
}
.form-search {
    border: 1px solid #1a2b46;
    width: 45%;
    margin: 8px auto;
    border-radius: 1rem;
}
.search-txt {
    margin-left: 10px;
    width: 250px !important;
    font-size: 15px;
    padding: 5px;
    text-align: left;
    background-color: #1a2b46;
    color: #a2a8af;
    border-radius: 1rem;
}
.search-btn {
    margin: 8px 10px;
}