@charset "UTF-8";

/*home*/
.home-content1 {
  background-color: #98ccd3;
}

.homecnt1-img {
  width: 100%;
  height: 600px;
}

.home-img {
  position: relative;
  bottom: 150px;
}

.card1 {
  width: 31%;
  float: left;
  margin-left: 20px;
  background-color: #364e68;
}

.card2,
.card3 {
  width: 31%;
  float: left;
  margin-left: 20px;
  background-color: #364e68;
}

.homehotel-img {
  width: 100%;
  height: 300px;
}

.home-img p {
  text-align: center;
  color: #ebf0f6;
  font-size: 20px;
  padding: 5px;
}

.home-content2 {
  background-color: #98ccd3;
  padding-bottom: 50px;
}

.home-content2 h2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}

.cnt2-card {
  float: left;
  width: 23%;
  margin: 1%;
  background-color: #364e68;
}

.home-content2 img {
  width: 100%;
  height: 240px;
}

.home-content2 p {
  text-align: center;
  color: #ebf0f6;
  font-size: 20px;
}

.home-content3 {
  padding-top: 30px;
  background-color: #6495ed;
  padding-bottom: 40px;
}

.map {
  width: 50%;
  float: left;
}

.map img {
  width: 80%;
  padding-top: 30px;
  margin-left: 50px;
}

.map h2,
.reasons h2 {
  text-align: center;
  font-size: 22px;
}

.reasons {
  float: right;
  width: 50%;
}

.reasons h3 {
  padding-bottom: 20px;
}

.cnt3-text1 {
  float: left;
  width: 40%;
  padding-top: 30px;
}

.cnt3-text2 {
  float: right;
  width: 45%;
  padding-top: 30px;
}

/*hotel */
.viewcontent {
  background-color: #98ccd3;
  position: relative;
}
.view-img {
  width: 100%;
  height: 500px;
}

.view {
  width: 200px;
  margin: 0 auto 0;
}

.view-btn {
  position: absolute;
  bottom: 80px;
  text-decoration: none;
  background-color: #132238;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ebf0f6;
  font-size: 25px;
}

.hotel-content2 {
  background-color: #98ccd3;
  padding-bottom: 40px;
  padding-top: 40px;
}

.hotel {
  padding-top: 30px;
}

.lottle-img {
  float: left;
  width: 47%;
  border-radius: 5px;
}

.lottle-info,
.sedona-info {
  width: 45%;
  float: right;
}

.hotel-textbox {
  width: 450px;
  padding: 10px 0;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #364e68;
  color: #ebf0f6;
  font-size: 18px;
}

.novotel-info {
  width: 40%;
  float: left;
  margin-top: 20px;
  margin-left: 110px;
}

.novotel-img {
  float: right;
  width: 45%;
  border-radius: 5px;
  margin-right: 20px;
}

.sedona-img {
  float: left;
  width: 47%;
  border-radius: 5px;
}

/*Room*/

.room-content1 {
  background-color: #98ccd3;
  padding-top: 40px;
  position: relative;
  padding-bottom: 20px;
}

.room-title {
  width: 200px;
  margin: 0 auto 0;
}

.roominfo-ttl::before {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 43.5%;
  left: 0;
  background-color: #132238;
  top: 58px;
}

.roominfo-ttl::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 43.5%;
  right: 0;
  background-color: #132238;
  top: 58px;
}

.roominfo-ttl {
  text-align: center;
  padding: 10px 20px;
  background-color: #364e68;
  border-radius: 5px;
  font-style: italic;
  color: #ebf0f6;
}

.room {
  background-color: #364e68;
  margin: 40px 0;
  padding: 40px;
}

.novoroom1-img {
  float: left;
  width: 50%;
  height: 300px;
}

.room1-info {
  float: left;
  width: 45%;
  margin-left: 50px;
  font-size: 20px;
}

tr {
  height: 40px;
}

td {
  color: #ebf0f6;
}

.td1 {
  width: 20%;
}

.td2 {
  width: 70%;
}

.booking-btn {
  padding: 5px 20px;
  background-color: #98ccd3;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.pagination {
  width: 400px;
  display: block;
  margin: 20px auto 0;
  font-size: 18px;
}

.page-item {
  display: inline-block;
  padding: 10px 20px;
}

/*booking*/

.booking-content1 {
  background-color: #98ccd3;
  padding-top: 40px;
}

.booking-content1 a {
  background-color: #239ad1;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
}

.booking-title {
  margin-top: 0;
  text-align: center;
  font-size: 25px;
}

.booking-form {
  width: 500px;
  margin: 40px auto 0;
  padding-bottom: 20px;
  text-align: center;
}

.bookingform-gp {
  margin-top: 20px;
  font-size: 18px;
}

.txt-box {
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px 5px;
  background-color: #364e68;
  color: #ebf0f6;
  font-size: 18px;
  margin-top: 10px;
}

.text-box1 {
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 5px 5px;
  background-color: #364e68;
  color: #ebf0f6;
  font-size: 18px;
  margin-top: 10px;
}

.confirm-btn {
  margin: 20px 10px 10px 0;
  font-size: 16px;
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  background-color: #364e68;
  color: #ebf0f6;
}
/*hotels for tablet*/
@media screen and (min-width:640px) and (max-width:1040px){
 
  .view-img{
    height: 40vw;
   
  }
  .view{
    width: 20%;
  }
  .view-btn{
    bottom: 5vw;
    padding: 1vw 2vw;
    font-size: 1.1rem;
  }
  .hotel{
    padding-top: 3vw;
  }
  .novotel-info{
    margin-left: 8vw;
  }
  .hotel-textbox{
    width: 70%;
    padding: .5vw 1vw;
    margin:0 0 2vw;
    font-size: 0.9rem;
  }
  .sedona-img,.lottle-img{
    margin-left: 2vw;
  }
  
}
/*rooms for tablet*/
@media screen and (min-width:640px) and (max-width:1040px){
  .room-title{
    width: 20%;
  }
 .roominfo-ttl{
   padding: 1vw 0.1vw;
   font-size: 0.8rem;
 }
 .novoroom1-img{
   height: 250px;
 }
 .room1-info{
   margin-left: 2.5vw;
   font-size: 1rem;
 }
 .td1{
   width: 30%;
 }
 .td2{
   width: 65%;
 }
 .booking-btn{
   padding: .5vw 1.5vw;
   font-size: .95rem;
 }
 .page-item{
   padding: .5vw 2vw;
 }
}
/*booking for tablet*/
@media screen and (min-width:641px) and (max-width:1040px){
  .booking-form{
    width: 60%;
  }
  .bookingform-gp{
    font-size: 1rem;
    margin-top: 5%;
  }
  .txt-box{
    padding: 1.5% 0 1.5% .5%;
    font-size: .9rem;
    margin-top: 2%;
  } 
  .text-box1{
    padding: 0;
  }
  
}

/*hotel for sp*/
@media screen and (max-width:640px) {
 .viewcontent{
 position: unset;
   }
  .view-img{
   height: 30%;
  }
  .view{
    display: none;
  }
 .hotel-content2{
   padding-top: 0;
 }
 .hotel{
   padding-top: 10%;
  
 }
  .lottle-img,.novotel-img,.sedona-img{
    width: 80%;
    float: none;
   margin-left: 10%;
  }
  .lottle-info,.novotel-info,.sedona-info{
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
  }
  .hotel-textbox{
    width: 100%;
    padding: .5% 0;
    font-size: .9rem;
  }
}
/*room for sp*/
@media screen and (max-width:640px){
  .room-content1{
    padding-bottom: 3%;
    padding-top: 6%;
  }
  .room-title{
    width: 70%;
    font-size: .9rem;

  }
  .roominfo-ttl{
    background-color: #98ccd3;
    color: #132238;
  }
  .roominfo-ttl::before,.roominfo-ttl::after{
    display: none;
  }
  .room{
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 5% 7%;
  }
  
  .novoroom1-img{
    width: 100%;
    height: 30%;
    margin-bottom: 5%;
  }
  .room1-info{
    float: none;
    width: 80%;
    font-size: .9rem;
    margin: 0 auto;
  }

  .td1{
    width: 30%;
  }
  .td2{
    width: 50%;
  }
  .booking-btn{
    width: 200px;
    font-size: .9rem;
    margin: o auto;
  }
  .pagination{
    width: 60%;
    font-size: .8rem;
  }
  .page-item{
    padding: 3% 5%;
  }
}
/*booking for sp*/
@media screen  and (max-width:640px){
  .booking-content1 a{
    font-size: .8rem;
  }
  .booking-title{
    font-size: 1.2rem;
  }
  .booking-form{
    width: 60%;
  }
  .bookingform-gp{
    font-size: .9rem;
    margin-top: 5%;
  }
  .txt-box{
    padding: 1% 0 1% .6%;
    font-size: .9rem;
    margin-top: 2%;
  }
  .text-box1{
    padding: 1px 0 1px 1px;
    font-size: .7rem;
  }
  .confirm-btn{
    font-size: .9rem;
    padding:2% 5%;
  }

}
